/*
#######
Imports
#######
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* 
#########
Variables
#########
*/

:root {
  --bg: #122C34;
  --indigo: #224870;
  --blue: #2A4494;
  --light-blue: #4EA5D9;
  --turqoise: #44CFCB; 
  --mint: #A0EEC0;
}


/*
###########
Base styles
###########
*/

html, body {
  width: 100%;
}

body {
  height: 100vh;
  background-color: var(--bg);
  font-family: 'Lato', sans-serif;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  color: var(--mint);
}

/* 
################
Main styles
################
*/

/** Header section
*/

header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

/** Main section
*/

main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.calculator, .calculator > * {
  border-width: 2px;
}

sup {
  font-size: x-small;
}

.calculator {
  width: 380px;
  padding: 20px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  align-items: center;
  background-color: var(--indigo);
}

.display {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
  margin-bottom: 20px;
  background-color: var(--light-blue);
}

.operation {
  font-size: 16px;
  height: 1vw;
}

.current {
  font-size: 2vw;
}

.calculator > button {
  padding: 20px 4px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--turqoise);
}

#zero {
  grid-column: 1 / span 2;
  grid-row: 6;
}

.calculator .number, .calculator .decimal {
  background-color: var(--light-blue);
}

/** Footer section
*/

footer {
  margin-top: 28px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  color: var(--mint);
}

footer img {
  width: 28px;
  padding-right: 6px;
}

footer a {
  display: flex;
  align-items: center;
}

footer a:hover {
  filter: brightness(150%);
}