/*
#######
Imports
#######
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* 
#########
Variables
#########
*/

:root {
  --bg: #122C34;
  --indigo: #224870;
  --blue: #2A4494;
  --light-blue: #4EA5D9;
  --turqoise: #44CFCB; 
  --mint: #A0EEC0;
  --bold-mint: #caf1db;
}


/*
###########
Base styles
###########
*/

html, body {
  width: 100%;
}

body {
  height: 100vh;
  background-color: var(--bg);
  font-family: 'Lato', sans-serif;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(3.7rem, 10vw, 6.3rem);
  color: var(--mint);
}

h2 {
  font-size: 20px;
  color: var(--mint);
  font-weight: 700;
}

/* 
################
Main styles
################
*/

/** Header section
*/

header {
  padding: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

/** Main section
*/

main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

/* Calculator */

sup {
  font-size: x-small;
}

.calculator {
  width: clamp(320px, 50vw, 380px);
  padding: 20px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
  background-color: var(--indigo);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 6px;
  flex-shrink: 0;
}

.display {
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px;
  gap: 10px;
  margin-bottom: 20px;
  background-color: var(--light-blue);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px;
}

.operation {
  font-size: 16px;
  height: 16px;
}

.current {
  font-size: clamp(34px, 5vw, 38px);
}

#zero {
  grid-column: 1 / span 2;
  grid-row: 6;
}

.calculator .number, .calculator .decimal {
  background-color: var(--light-blue);
}

.calculator > button {
  padding: 20px 4px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--turqoise);
  box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px;
  font-size: clamp(17px, 3vw, 20px);
}

.calculator > button:hover {
  filter: brightness(90%);
  transition: 0.1s linear;
}

.calculator > button:hover *{
  transform: translateY(-2px);
  transition: 0.1s linear;
}

.calculator > button:active, .calculator > button:focus-visible{
  filter: brightness(80%);
  transition: 0.1s linear;
}

/* Texts */

.shortcuts, .warning {
  width: 380px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--mint);
  font-size: 18px;
}

.shortcuts h2{
  margin-bottom: 15px;
}

.keys div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.shortcuts .calc {
  margin: 2px;
  padding: 8px 0;
  width: 40px;
  border-radius: 4px;
  background-color: var(--turqoise);
  color: black;
  text-align: center;
  flex-shrink: 0;
}

.warning {
  visibility: hidden;
  text-align: center;
}

.warning.active{
  visibility: visible;
}

.warning strong {
  color: var(--bold-mint);
}

/** Footer section
*/

footer {
  margin-top: 28px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  color: var(--mint);
}

footer img {
  width: 28px;
  padding-right: 6px;
}

footer a {
  display: flex;
  align-items: center;
}

footer a:hover {
  filter: brightness(150%);
}


/*
#############
Media Queries
#############
*/

@media (max-width: 880px) {

  main {
    flex-direction: column;
    gap: 20px;
  }

  .shortcuts, .warning {
    max-width: 380px;
    width: inherit;
    font-size: 15px;
  }

  .keys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  .keys div{
    justify-content: center;
  }

  footer p {
    font-size: 14px;
  }
}
